{% extends 'base.html' %}
{% load static %}

{% block b1 %}

<div class="row">
  <button type="button" class="btn btn-warning btn-lg btn-lg btn-block btn-block navbar-expand-lg btn btn-primary link-offset-2 link-underline link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#talqehModal">
    تــــم التلقيــــــــح

  </button>
  </div>

<div class="row">
<button type="button" class="btn btn-danger btn-lg btn-lg btn-block btn-block navbar-expand-lg btn btn-primary link-offset-2 link-underline link-underline-opacity-0" data-bs-toggle="modal" data-bs-target="#deletionModal">
  حـــــــذف

  <svg xmlns="" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
  </svg>
</button>
</div>




<div class="container mt-3">

 


<!-- ## FORM -->


  <form action="{% url 'operation:arnaba_update' arnab.id %}" method="post">
    {% csrf_token %}
    {% for field in field_list %}
    <div class="mb-3 mt-3">
      {% if field.name in disabled_fields %}
      <fieldset disabled>
      {% endif %}

      {% if field.foreign  %}
      <label for="{{ field.name }}" class="form-label">{{ field.name }}:</label>



      <select class="form-select" aria-label="Default select example" name="{{ field.name }}" id="{{ field.name }}">
        <option selected>{{ field.value }}</option>

        {% for arnab in arnab_list %}


        <option value="{{ arnab.name }}" >{{ arnab.name}}</option>
        {% endfor %}

      </select>
      {% else %}


      <label for="{{ field.name }}" class="form-label">{{ field.name }}:</label>
      {% if field.type == 'Date (without time)' %}
      <input  type="date" class="form-control" id="{{ field.name }}" value="{{ field.value }}"  name="{{ field.name }}">
      {% else %}
      <input {% if field.type == 'Integer' %}type="number"{% endif %} class="form-control" id="{{ field.name }}" value="{{ field.value}}" name="{{ field.name }}">
      {% endif %}

      {% endif %} 


    </div>


      {% endfor %}

    <button type="submit" class="form-control btn btn-primary btn-lg btn-block btn-block navbar-expand-lg" >  تحـــــديــث   <svg xmlns="" width="16" height="16" fill="currentColor" class="bi bi-capslock-fill" viewBox="0 0 16 16">
      <path d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z"/>
    </svg></button>
  </form>
  
  



</div>


  
  <!-- The DELETION Modal -->
  <div class="modal" id="deletionModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">حذف التسجيل؟</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          هل انت متأكـــــــــد؟
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">     لا     </button>
 

            <a href="{% url 'operation:arnaba_delete' arnab.id %}"  type="button btn-danger" class="btn btn-danger" >      نعــــم    </a>
          </div>
  
      </div>
    </div>
  </div>


  <!-- The TALQEEH Modal -->
  <div class="modal" id="talqehModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">تــم التلقيـــــح</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          تحديث التلقيــــــــــــــح؟
        </div>
  
        <!-- Modal footer -->
        <div class="d-flex justify-content-center modal-footer">
          <form action="{% url 'operation:arnaba_update' arnab.id %}" method="post" class="text-centerd-flex justify-content-center">
            {% csrf_token %}
            {% for field in field_list %}
            <div class="">
        
              {% if field.foreign  %}
              <label for="talqeeh_zakar" class="form-label">تم التلقيح من الذكر</label>
        
        
        
              <select class="form-select" aria-label="Default select example" name="talqeeh_zakar" id="talqeeh_zakar" required>
                <option value="">اختــــــار الذكـــر</option>

        
                {% for arnab in arnab_list %}
        
        
                <option value="{{ arnab.name }}" >{{ arnab.name}}</option>
                {% endfor %}
        
              </select>

           

            <label for="talqeeh_datestamp" class="form-label">talqeeh_datestamp:</label>
            <input  type="date" class="form-control" id="talqeeh_datestamp"  value="{{ todays_date }}"  name="talqeeh_datestamp">


            {% endif %}
        
        
        
            </div>
        
        
              {% endfor %}
        
            <button type="submit" class="form-control btn btn-primary btn-lg btn-block btn-block navbar-expand-lg" >  تحـــــديــث   <svg xmlns="" width="16" height="16" fill="currentColor" class="bi bi-capslock-fill" viewBox="0 0 16 16">
              <path d="M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816L7.27 1.047zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1z"/>
            </svg></button>
          </form>
          
          </div>
  
      </div>
    </div>
  </div>

{% endblock %}