{% extends 'base.html' %}
{% load static %}
{% block b1 %}



<div class="container row">

    <a style="text-decoration:none" href="{% url 'operation:arnaba_list' %}">
        <div class="card col-lg-4 " style="width: 18rem;">
          <h2 class="text-center card-title">أمهات</h2>

        <img src="{% static 'arnaba.png' %}" style="height: 285px;" class="img-fluid img-thumbnail card-img-top img-fluid rounded float-left" alt="Responsive image">
        <div class="card-body">


          <div class=" text-center">
         
            <div class="counter">
        <i class="fa fa-code fa-2x"></i>
        <h2 class="timer count-title count-number text-muted" >{{arnaba_count}}</h2>
      </div>
    </div>



          
        </div>
      </div>
    </a>

    <a style="text-decoration:none" href="{% url 'operation:arnab_list' %}">
      <div class="card col-lg-4 " style="width: 18rem;">
        <h2 class="text-center card-title">ذكــــــــــور</h2>

      <img src="{% static 'arnab.png' %}" style="height: 285px;" class="img-fluid img-thumbnail card-img-top img-fluid rounded float-left" alt="Responsive image">
      <div class="card-body">


        <div class=" text-center">
       
          <div class="counter">
      <i class="fa fa-code fa-2x"></i>
      <h2 class="timer count-title count-number text-muted" >{{arnab_count}}</h2>
    </div>
  </div>

</div>
{% endblock %}
